.pwapp-lite-template-detail-page {
  .pwapp-designer, .pw-template__content {
    padding: 0;
    margin-bottom: 0;
  }
  .pw-form {
    padding: 0;
    margin-left: 75px;
  }

  .pw-form__header-img {
    display: none;
  }
}
