.pwapp-lite-appbar {
  a {
    color: inherit;
    text-decoration: none;
  }
  .pw-balloon__badge {
    transform: none;
  }
}

.pwapp-lite-appbar-primary {
  display: flex;
  align-items: center;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  border-bottom: 1px solid #d4dadf;
  background-color: #FFFFFF;
  height: 60px;
  width: 100%;
  z-index: 9;
}

.pwapp-lite-appbar-brand {
  width: 2rem;
}

.pwapp-lite-appbar-secondary {
  min-height: 2rem;
  padding: .2rem;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  border-bottom: 1px solid #d4dadf;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
