.pwapp-template-list {
  display: flex;
  flex-wrap: wrap;

  &__card {
    box-sizing: border-box;
    width: 300px;
    min-width: auto;
    margin: .1rem;

    @media (min-width: 768px) {
      width: 370px;
      margin: .7rem;
    }
  }

  &__card-footer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}
