.pwapp-lite-toolbox {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
  padding: 0.5rem 0.5rem 0;
  border-radius: 3px;
  width: 80px;
  overflow-y: auto;
  position: fixed;
  top: 5.5rem;
  margin: 2rem 0;
  z-index: 99;
  -webkit-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  left: 0px;
  font-size: 11px;


  &__group {
    width: auto;
    background-color: #865FDF;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    padding: 5px;
  }
}

.pwapp-lite-toolbox-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  margin: 1rem;
  .pw-avater {
    background: #bdbdbd;
  }

  .pw-icon {
    fill: white;
  }
}
