@use "sass:map";

.pw-form {
  background: $pw-palette-storm-10;
  padding: 1rem;
  @media (min-width: 768px) {
    padding: 4rem 8rem;
  }

  .pw-card__header {
    padding-bottom: 0;
  }

  &__settings {
    @media (min-width: 768px) {
      min-width: 400px;
    }
  }

  &__title {
    padding: 1rem .7rem;
    .pw-input__control {
      font-size: 30px;
      background: transparent;
    }
    &--readonly {
      .pw-input__control {
        background: transparent;
      }
      border: 0;
      &:hover {
        border: 0;
        box-shadow: none;
      }
    }
  }

  &__header-img {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    max-height: 200px;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
    }
    + .pw-form__body {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .pw-card-header__icon {
    padding: 0;
  }

  @each $color, $vars in $pw-theme-colours
  {
    &--theme-#{$color} {
      $background: map_get($vars, 'primary-light');
      $page: map_get($vars, 'primary-lighter');

      &.pw-form {
        background: $background;
      }

      .pw-card {
        background: $page;
      }
    }
  }
}
