.pw-dnd-item-wrapper {
  display: flex;
  align-items: center;

  &__item {
    padding: .5rem;
    > * {
      margin: 0;
    }
    &:hover {
      background: $pw-palette-dusk-50;
    }
  }

  &__button {
    width: auto;
    height: auto;
    background: transparent;
    margin: 0 .5rem;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    &:hover {
      background: transparent;
      .pw-icon {
        fill: $pw-palette-storm-28;
      }
    }
  }

  .pw-icon {
    fill: white;
    width: 1.3rem;
    height: 1.3rem;
  }
}
