.pw-dnd-layout-page {
  &__layout {
    margin: .6rem
  }

  &__placeholder {
    border: 1px dashed $pw-palette-storm-28;
  }

  &__settings {
    @media (min-width: 768px) {
      min-width: 400px;
    }
  }
}
