.pw-dnd-layout-placeholder {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-height: 3.5rem;
  &_message {
    font-size: 11px;
    line-height: 1.75;
    font-weight: 500;
    padding-right: .2rem;
  }

  &_button {
    padding: 0;
    margin: 0;
  }
}
