.pw-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  outline: none;
  border: 0;
  &__input {
    cursor: pointer;
    fill: $pw-palette-dusk-130;
    width: 1.2rem;
    height: 1.2rem;
    padding: .5rem;
  }
  &__label {
    cursor: pointer;
  }
}
