@import "./dropdown";
@import "./quickadd";
@import "./iconbutton";
@import "./toggle";
@import "./select";
@import "./button";
@import "./richeditor";
@import "./input";
@import "./search";
@import "./buttonrow";
@import "./launchpad";
@import "./datepicker";

.pw-field-group {
  margin-bottom: 0.5rem;
  width: 100%;

  &__label {
    margin-bottom: 0.4rem;
    position: relative;
  }

  &__accessory {
    padding-left: .2rem;
  }

  &__asterisk {
    color: $pw-palette-berry;
    padding-left: .2rem;
  }

  @media (min-width: 768px) {
    display: flex;

    &__label {
      margin-bottom: 0rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      float: left;
      padding-right: 1rem;
      box-sizing: border-box;
      color: $pw-color-text-darker;
    }

    &__input {
      float: left;
      &--full {
        float: none;
        width: 100%;
      }
    }

    &--place-top {
      flex-direction: column;
      padding: 0 1.2rem;
      box-sizing: border-box;

      .pw-field-group__label {
        justify-content: flex-start;
        padding-bottom: 1rem;
      }
    }

    &__input--xs {
      width: $pw-field-size-xs;
    }

    &__input--s {
      width: $pw-field-size-s;
    }

    &__input--m {
      width: $pw-field-size-m;
    }

    &__input--l {
      width: $pw-field-size-l;
    }

    &__input--xl {
      width: $pw-field-size-xl;
    }
  }
}
