.pw-launchpad {
  position: relative;
  min-height: 50px;
  min-width: 50px;

  &__trigger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    background-color: $pw-palette-dusk-130;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    margin: 0;
    .pw-icon {
      fill: white;
      width: 20px;
      height: 20px;
    }

    &--expanded {
      transform: rotate(45deg);
      transition: transform 0.3s;
    }

    &:hover {
      box-shadow: 0 0 14px rgba(0,0,0,0.8);
    }
  }

  &__panel {
    .rc-tooltip-inner {
      display: flex;
      flex-wrap: wrap;
      max-width: 330px;
      padding: 1rem;
    }
  }

  &__trigger-wrapper {
    position: absolute;
    cursor: pointer;
    z-index: 1;
  }
}

.pw-launchpad-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__label {
    font-weight: 500;
    padding-top: .2rem;
    color: $pw-palette-storm-100;
  }

  &__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    background-color: $pw-palette-storm-100;
    transition: all 0.2s;
    width: 50px;
    height: 50px;
    box-sizing: border-box;

    .pw-icon {
      fill: white;
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover {
      background-color: $pw-palette-storm-83;
      box-shadow: 0 0 14px rgba(0,0,0,0.8);
    }
  }
}

.pw-launchpad-overlay {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);

  &--show {
    display: block;
  }
}
