$pw-palette-storm-10: #F1F1F1;
$pw-palette-storm-11: #E8EAEC;
$pw-palette-storm-17: #DCDFE1;
$pw-palette-storm-28: #C5C9CE;
$pw-palette-storm-50: #969EA7;
$pw-palette-storm-72: #687480;
$pw-palette-storm-83: #515E6D;
$pw-palette-storm-100: #2E3E4F;
$pw-palette-storm-06: #F3F4F5;
$pw-palette-thunder: #1B2830;
$pw-palette-dusk-50: #f5f0f9;
$pw-palette-dusk-60: #f5f0f9;
$pw-palette-dusk-70: #A476C1;
$pw-palette-dusk-72: #D1C4E9;
$pw-palette-dusk-80: #8F69E8;
$pw-palette-dusk-90: #865FDF;
$pw-palette-dusk-100: #8241AA;
$pw-palette-dusk-110: #3f51b5;
$pw-palette-dusk-120: #9F2AD0;
$pw-palette-dusk-130: #7B1FA2;
$pw-palette-dusk-05: #F9F5FB;
$pw-palette-dusk-dark: #582c73;
$pw-palette-dusk-darker: #201029;
$pw-palette-azure: #2B74DF;
$pw-palette-azure-light: #98BAEC;
$pw-palette-berry: #CE2554;
$pw-palette-berry-light: #E796AC;
$pw-palette-berry-dark: #900449;
$pw-palette-golf: #00AA65;
$pw-palette-golf-light: #66D7A9;
$pw-palette-golf-darker: #007043;
$pw-palette-pineapple: #E6C543;
$pw-palette-pineapple-light: #EBD068;
$pw-palette-crown: #806D25;
$pw-palette-white: #ffffff;
$pw-color-text: #1B2830;
$pw-color-text-darker: #2E3E4F;
$pw-color-text-link: #8241AA;

$pw-color-avatar-candy-text: #900449;
$pw-color-avatar-regal-text: #663385;
$pw-color-avatar-azure-text: #174B97;
$pw-color-avatar-cabana-text: #157279;
$pw-color-avatar-popcorn-text: #736221;
$pw-color-avatar-golf-text: #007043;
$pw-color-avatar-tangerine-text: #87562B;
$pw-color-avatar-light-grey-text: #515E6D;

$pw-field-size-xs: 10.6rem;
$pw-field-size-s: 16.8rem;
$pw-field-size-m: 22.9rem;
$pw-field-size-l: 29rem;
$pw-field-size-xl: 35.2rem;


$pw-theme-colours: (
        red: (
                primary: #F44336,
                primary-darker: #B71C1C,
                primary-lighter: #FFEBEE,
                primary-light: #FFCDD2,
        ),
        pink: (
                primary: #E91E63,
                primary-darker: #880E4F,
                primary-lighter: #FCE4EC,
                primary-light: #F8BBD0,
        ),
        purple: (
                primary: #9C27B0,
                primary-darker: #4A148C,
                primary-lighter: #F3E5F5,
                primary-light: #E1BEE7,
        ),
        indigo: (
                primary: #3F51B5,
                primary-darker: #1A237E,
                primary-lighter: #E8EAF6,
                primary-light: #C5CAE9,
        ),
        blue: (
                primary: #2196F3,
                primary-darker: #0D47A1,
                primary-lighter: #E3F2FD,
                primary-light: #BBDEFB,
        ),
        light-blue: (
                primary: #03A9F4,
                primary-darker: #01579B,
                primary-lighter: #E1F5FE,
                primary-light: #B3E5FC,
        ),
        cyan: (
                primary: #00BCD4,
                primary-darker: #006064,
                primary-lighter: #E0F7FA,
                primary-light: #B2EBF2,
        ),
        teal: (
                primary: #009688,
                primary-darker: #004D40,
                primary-lighter: #E0F2F1,
                primary-light: #B2DFDB,
        ),
        green: (
                primary: #4CAF50,
                primary-darker: #1B5E20,
                primary-lighter: #E8F5E9,
                primary-light: #C8E6C9,
        ),
        light-green: (
                primary: #8BC34A,
                primary-darker: #33691E,
                primary-lighter: #F1F8E9,
                primary-light: #DCEDC8,
        ),
        lime: (
                primary: #CDDC39,
                primary-darker: #827717,
                primary-lighter: #F9FBE7,
                primary-light: #F0F4C3,
        ),
        yellow: (
                primary: #FFEB3B,
                primary-darker: #F57F17,
                primary-lighter: #FFFDE7,
                primary-light: #FFF9C4,
        ),
        amber: (
                primary: #FFC107,
                primary-darker: #FF6F00,
                primary-lighter: #FFF8E1,
                primary-light: #FFECB3,
        ),
        orange: (
                primary: #FF9800,
                primary-darker: #E65100,
                primary-lighter: #FFF3E0,
                primary-light: #FFE0B2,
        ),
        deep-orange: (
                primary: #FF5722,
                primary-darker: #BF360C,
                primary-lighter: #FBE9E7,
                primary-light: #FFCCBC,
        ),
        brown: (
                primary: #795548,
                primary-darker: #3E2723,
                primary-lighter: #EFEBE9,
                primary-light: #D7CCC8,
        ),
        grey: (
                primary: #9E9E9E,
                primary-darker: #212121,
                primary-lighter: #FAFAFA,
                primary-light: #F5F5F5,
        ),
        blue-grey: (
                primary: #607D8B,
                primary-darker: #263238,
                primary-lighter: #ECEFF1,
                primary-light: #CFD8DC,
        ),
);
