$pw-palette-storm-10: #F1F1F1;
$pw-palette-storm-11: #E8EAEC;
$pw-palette-storm-17: #DCDFE1;
$pw-palette-storm-28: #C5C9CE;
$pw-palette-storm-50: #969EA7;
$pw-palette-storm-72: #687480;
$pw-palette-storm-83: #515E6D;
$pw-palette-storm-100: #2E3E4F;
$pw-palette-storm-06: #F3F4F5;
$pw-palette-thunder: #1B2830;
$pw-palette-dusk-50: #f5f0f9;
$pw-palette-dusk-60: #f5f0f9;
$pw-palette-dusk-70: #A476C1;
$pw-palette-dusk-80: #8F69E8;
$pw-palette-dusk-90: #865FDF;
$pw-palette-dusk-100: #8241AA;
$pw-palette-dusk-110: #3f51b5;
$pw-palette-dusk-120: #9F2AD0;
$pw-palette-dusk-130: #7B1FA2;
$pw-palette-dusk-05: #F9F5FB;
$pw-palette-dusk-dark: #582c73;
$pw-palette-dusk-darker: #201029;
$pw-palette-azure: #2B74DF;
$pw-palette-azure-light: #98BAEC;
$pw-palette-berry: #CE2554;
$pw-palette-berry-light: #E796AC;
$pw-palette-berry-dark: #900449;
$pw-palette-golf: #00AA65;
$pw-palette-golf-light: #66D7A9;
$pw-palette-golf-darker: #007043;
$pw-palette-pineapple: #E6C543;
$pw-palette-pineapple-light: #EBD068;
$pw-palette-crown: #806D25;
$pw-palette-white: #ffffff;
$pw-color-text: #1B2830;
$pw-color-text-darker: #2E3E4F;
$pw-color-text-link: #8241AA;

$pw-color-avatar-candy-text: #900449;
$pw-color-avatar-regal-text: #663385;
$pw-color-avatar-azure-text: #174B97;
$pw-color-avatar-cabana-text: #157279;
$pw-color-avatar-popcorn-text: #736221;
$pw-color-avatar-golf-text: #007043;
$pw-color-avatar-tangerine-text: #87562B;
$pw-color-avatar-light-grey-text: #515E6D;

$pw-field-size-xs: 10.6rem;
$pw-field-size-s: 16.8rem;
$pw-field-size-m: 22.9rem;
$pw-field-size-l: 29rem;
$pw-field-size-xl: 35.2rem;
