@use "sass:map";

.pw-picture-chip {
  width: 80%;
  min-width: 280px;

  $banner-color: $pw-palette-dusk-100;
  $banner-corner-color: $pw-palette-dusk-dark;
  $content-color: $pw-palette-dusk-50;
  $footer-color: $pw-palette-dusk-72;

  &--size-s {
    width: 280px;
  }

  &--size-m {
    width: 300px;
  }

  &--size-l {
    width: 350px;
  }

  &__container {
    position: relative;
    height: 0;
    padding-bottom: calc(100% - 16px);
    margin-bottom: 3.6em;
  }

  &__body {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 16px;
    left: 16px;
    box-shadow: 0 17px 41px -21px rgb(0, 0, 0);
  }

  &__img-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: all 0.3s;
  }

  &__hero-image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__action-button {
    position: absolute;
    right: 16px;
    top: 15px;
    border-radius: 50%;
    border: 5px solid;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 20;
    transition: all 0.3s;
    background-color: $banner-color;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .pw-icon {
      fill: white;
      width: 20px;
      height: 20px;
    }
  }

  &__content {
    position: absolute;
    top: 100%;
    right: 30px;
    left: 30px;
    bottom: 54px;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 1.2s;
  }

  &__footer {
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }

  h2 {
    position: absolute;
    background-color: $banner-color;
    top: calc(100% - 16px);
    left: 0;
    width: 100%;
    padding: 10px 16px;
    color: #fff;
    font-size: 1em;
    line-height: 1.6em;
    margin: 0;
    z-index: 10;
    box-sizing: border-box;
    transition: all 0.3s;

    span {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    strong {
      font-weight: 400;
      display: block;
      font-size: .7em;
    }
    &:before,
    &:after {
      content: ' ';
      position: absolute;
      left: 0;
      top: -16px;
      width: 0;
      border: 8px solid;
    }
    &:after {
      top: auto;
      bottom: 0;
      border-top-color: $banner-color;
      border-right-color: $banner-color;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &:before {
      border-top-color: transparent;
      border-right-color: $banner-corner-color;
      border-bottom-color: $banner-corner-color;
      border-left-color: transparent;
    }
  }

  &--active {
    .pw-picture-chip__action-button {
      top: 50px;
      color: $content-color;
    }

    .pw-picture-chip__img-container {
      border-radius: 50%;
      left: 0;
      top: 12px;
      width: 50px;
      height: 50px;
      z-index: 20;
    }

    .pw-picture-chip__body {
      background-color: $content-color;
    }

    .pw-picture-chip__content {
      top: 50px;
      padding-top: 4em;
      opacity: 1;
      height: 100%;
    }

    .pw-picture-chip__footer {
      overflow: visible;
      position: absolute;
      top: calc(100% - 16px);
      left: 16px;
      right: 0;
      height: 65px;
      background-color: $footer-color;
      display: flex;
      align-items: center;
    }

    h2 {
      top: 0;
      padding: 10px 16px 10px 90px;

      &:after {
        bottom: -16px;
        border-top-color: $banner-corner-color;
        border-right-color: $banner-corner-color;
        border-bottom-color: transparent;
        border-left-color: transparent;
      }

      &:before {
        top: 0;
        border-top-color: transparent;
        border-right-color: $banner-color;
        border-bottom-color: $banner-color;
        border-left-color: transparent;
      }
    }
  }

  @each $color, $vars in $pw-theme-colours
  {
    &--color-#{$color} {
      $banner-color: map_get($vars, 'primary');
      $banner-corner-color: map_get($vars, 'primary-darker');
      $content-color: map_get($vars, 'primary-lighter');
      $footer-color: map_get($vars, 'primary-light');

      .pw-picture-chip__action-button {
        background-color: $banner-color;
      }

      h2 {
        background-color: $banner-color;
      }

      h2:after {
        border-top-color: $banner-color;
        border-right-color: $banner-color;
      }

      h2:before {
        border-right-color: $banner-corner-color;
        border-bottom-color: $banner-corner-color;
      }

      .pw-picture-chip--active h2:after {
        border-top-color: $banner-corner-color;
        border-right-color: $banner-corner-color;
      }

      .pw-picture-chip--active h2:before {
        border-right-color: $banner-color;
        border-bottom-color: $banner-color;
      }

      .pw-picture-chip__body {
        background-color: $content-color;
      }

      .pw-picture-chip__footer {
        background-color: $footer-color;
      }
    }
  }
}
