.pw-icon {
  width: 1rem;
  height: 1rem;
  fill: $pw-palette-storm-72;

  &--small {
    width: 20px;
    height: 20px;
  }

  &--medinum {
    width: 30px;
    height: 30px;
  }

  &--large {
    width: 40px;
    height: 40px;
  }
}
