.pwapp-root {
  height: 100%;
}

.pwapp-page {
  position: relative;
  top: 80px;
  max-width: 76.8rem;
  min-height: calc(100vh - 169px);
  position: relative;
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
}
