.pwapp-notification-list {
  cursor: pointer;
  &__date {
    max-width: 70px;
  }
  &__sender {
    max-width: 150px;
  }
  &__unread {
    min-width: 70px;
    max-width: 70px;
  }
  &__item {
    &--unread {
      font-weight: bold;
    }
  }
}
