.pwapp-report-detail-page {
  .pwapp-designer, .pw-template__content {
    padding: 0;
    margin-bottom: 0;
  }

  .pw-draggable-list__row--dragging, .pw-draggable-list__row--dropping {
    .pw-drawer {
      display: none;
    }
  }
}
